body {
    width: 250px;
}

.bi {
    display: inline-block;
    vertical-align: -.125em;
}

#toggle-label {
    white-space: nowrap;
}

#toggle-domain {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 16px);
    vertical-align: top;
}

#toggle-label.btn-success .bi-x-lg {
    display: none;
}
#toggle-label.btn-danger .bi-check2 {
    display: none;
}
